{% load static %}

<div id="sidebar" class="sidebar">
    <div class="sidebar-logo">
        <a href="{% url 'orcamentos:dashboard' %}">
            <img
                src="{% static 'img/logo.png' %}"
                alt="Logo"
                class="logo-collapsed"
            />
            <img
                src="{% static 'img/logo esticado.png' %}"
                alt="Logo Estendida"
                class="logo-expanded"
            />
        </a>
    </div>
    <div class="menu-items">
        <a href="{% url 'orcamentos:dashboard' %}" class="menu-item active">
            <i data-lucide="layout-dashboard"></i>
            <span>Dashboard</span>
        </a>
        <a href="{% url 'orcamentos:listar_produtos' %}" class="menu-item">
            <i data-lucide="package"></i>
            <span>Produtos</span>
        </a>
        {% if request.user.is_superuser or request.user.userprofile.is_admin %}
        <a href="{% url 'orcamentos:listar_usuarios' %}" class="menu-item">
            <i data-lucide="shield"></i>
            <span>Usuários</span>
        </a>
        {% endif %}
        <a href="{% url 'orcamentos:listar_clientes' %}" class="menu-item">
            <i data-lucide="users"></i>
            <span>Clientes</span>
        </a>
        <a href="{% url 'orcamentos:listar_orcamentos' %}" class="menu-item">
            <i data-lucide="file-text"></i>
            <span>Orçamentos</span>
        </a>

        <form method="post" action="{% url 'logout' %}" class="menu-item">
            {% csrf_token %}
            <button type="submit" class="menu-button">
                <i data-lucide="log-out"></i>
                <span>Sair</span>
            </button>
        </form>
    </div>

    <!-- Informações do usuário na sidebar -->
    <button 
        type="button"
        class="sidebar-user-profile btnOpenWelcomeModal" 
        id="userProfileButton"
        aria-label="Abrir menu de perfil de {{ user.username }}"
    >
        <div class="avatar-container">
            {% if user.userprofile.foto %}
            <img src="{{ user.userprofile.foto.url }}" class="user-photo" alt="Foto de perfil de {{ user.username }}" />
            {% else %}
            <i class="fas fa-user-circle user-photo" aria-hidden="true"></i>
            {% endif %}
        </div>
        <span class="user-name">{{ user.username }}</span>
    </button>
</div>

<!-- Incluir os modais de perfil -->
{% include 'modal_perfil.html' %}